.navDiv{
    width: 100%;
    height: 65px;
    color: black;
    background-color: transparent;
    -webkit-backdrop-filter: blur(4px) saturate(4);
    backdrop-filter: blur(4px) saturate(4);
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 20px;
}
.logo{
    width: 18%;
    height: 70%;
    /* border: solid red; */
    text-align: center;
    padding-top: 10px;
}
.navFeatures{
    width: 78%;
    height: 100%;
    /* border: solid bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 20px;
    list-style: none;
}
.navFeatures a{
    text-decoration: none;
    color: black;
    width: max-content;
    padding: 3px;
    font-weight: 500;
}
.dropdown li:hover{
    color: whitesmoke;
}
.dropdown li{
  list-style: none;
}
.navList{
  text-decoration: none;
  color: black;
  padding: 3px;
  font-weight: 500;
}
.navFeatures li a:hover{
  color: whitesmoke;
}

#checkbox {
    display: none;
  }
  
  .toggle {
    /* position: relative; */
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    /* background-color: rgb(176, 92, 255); */
    background-color: black;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  .navList{
    width: 60%;
    height: 70px;
    padding-top: 10px;
    padding-left: 25px;
    /* border: solid 2px; */
    /* background-color: green; */
  }
  .navList::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
  .navList:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    /* transition: left 3s ease-in-out, right; */
  } 
  .navList li{
    font-size: 21px;
  }

  @keyframes slideDown {
    from{
        transform: translateX(80%)
    }
    to{
        transform: translateX(0%);
    }
  }
  

  @media screen and (max-width: 900px) {
    .logo{
      width: 25%;
    }
  }

  @media screen and (max-width: 800px) {
    .logo{
      width: 28%;
    }
  }

  @media screen and (max-width: 700px) {
    .navDiv{
      gap: 60%;
    }
    .toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    }
    .navFeatures{
      display: none;
    }
    .logo{
      width: 30%;
      height: 90%;
    }
    .dropdown{
        width: 65.5%;
        height: 100vh;
        background-color: rgb(87, 86, 86);
        position: fixed;
        display: flex;
        flex-direction: column;
        padding-top: 90px;
        /* align-items: center; */
        /* justify-content: center; */
        gap: 20px;
        padding-right: 20px;
        top: 0;
        left: 34.5%;
        border: none;
        transition: right 0.3s ease-in-out;
        animation-name: slideDown;
        animation-duration: 0.4s;
    }
    .navFeatures a{
        text-decoration: none;
        color: black;
    }
  }

  @media screen and (max-width: 600px) {
    .dropdown{
      left: 30%;
      width: 70%;
    }
  }

  @media screen and (max-width: 600px) {
    .dropdown{
      left: 24%;
      width: 76%;
    }
  }